@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Roboto", sans-serif;
  background: #2ec4b6;
}

button{
  cursor: pointer;
}

section {
  width: 800px;
  margin: 0 auto;
  background: #011627;
  padding: 30px;
  border-radius: 4px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section h2 {
  text-align: center;
  padding: 30px;
  color: #fff;
  font-weight: 300;
}

section form {
  width: 100%;
  display: flex;
  padding: 0 20px;
  flex-direction: column;
}

section form input {
  flex: 1;
  height: 42px;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 16px;
  color: #666;
  border: 0;
}

section form button {
  width: 150px;
  border: 0;
  border-radius: 4px;
  background: #20a4f3;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
}

section ul {
  list-style: none;
  margin-top: 20px;
}

section ul li {
  line-height: 50px;
  padding: 0 20px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section ul li s {
  opacity: 0.6;
}

section ul li + li {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

 button {
  border: 0;
  background: #fff;
  border-radius: 4px;
  padding: 6px 10px;
  font-weight: bold;
  font-size: 12px;
  color: #011627;
}

button + button{
   margin-left: 10px;
}

div{
   padding: 20px 10px;
}

div input{
   width: 100%;
   display: block;
}

.error{
  color: red;
  padding: 10px;;
}