@import '~bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "~react-datepicker/dist/react-datepicker.css";

*{
   font-family: 'Roboto', sans-serif!important;
   font-size: 14px;
}

body {
   white-space: pre;
   font-family: monospace;
   font-size: 18px;
   background: #282a36;
   color: #f8f8f2;
 }

 button{
   background-color: #bd93f9!important;
   border:  #bd93f9!important;
 }

 .react-datepicker-wrapper{
    width: 100%!important;
 }